{% extends 'layout.html' %}
{% block content%}
     <div id="featured_post">

         <video id='hls-example'  class="video-js vjs-default-skin" width="620" height="270" controls>
             <source type="application/x-mpegURL" src="http://157.245.89.41:8080/hls/hope_tv.m3u8">
         </video>
        <p>Hope TV Africa is a Christian television channel which aims to propagate any element based on the word of God all over the world: sermons, political and Christian broadcasts, advertisements, television series, cinemas, cartoons, Video clips ect ....</p>

      </div>
      <div id="hpage_latest">
        <ul>
          <li><img src="{{ url_for('static', filename='images/banners/1.jpeg')}}" alt="" />
            <p>Nullamlacus dui ipsum conseqlo borttis non euisque morbipen a sdapibulum orna.</p>
            <p>Urnau ltrices quis curabitur pha sellent esque congue magnisve stib ulum quismodo nulla et.</p>
            <p class="readmore"><a href="#">Continue Reading &raquo;</a></p>
          </li>
          <li><img src="{{ url_for('static', filename='images/banners/16.jpeg')}}" alt="" />
            <p>Nullamlacus dui ipsum conseqlo borttis non euisque morbipen a sdapibulum orna.</p>
            <p>Urnau ltrices quis curabitur pha sellent esque congue magnisve stib ulum quismodo nulla et.</p>
            <p class="readmore"><a href="#">Continue Reading &raquo;</a></p>
          </li>
          <li class="last"><img src="{{ url_for('static', filename='images/banners/18.jpeg')}}" alt="" />
            <p>Nullamlacus dui ipsum conseqlo borttis non euisque morbipen a sdapibulum orna.</p>
            <p>Urnau ltrices quis curabitur pha sellent esque congue magnisve stib ulum quismodo nulla et.</p>
            <p class="readmore"><a href="#">Continue Reading &raquo;</a></p>
          </li>
        </ul>
        <br class="clear" />
      </div>
  <script>
        var player = videojs('hls-example');
        player.play();

  </script>

{% endblock %}


