<div class="footbox">
      <h2>Indonectetus facilis leo nibh</h2>
      <ul>
        <li><a href="#">Lorem ipsum dolor sit amet, consectetur</a></li>
        <li>Maecenas non elit at tortor auctor</li>
        <li>Fusce ullamcorper pharetra tellus nec</li>
        <li><a href="#">Quisque congue pharetra leo, in congue</a></li>
        <li><a href="#">Nullam aliquet velit non tellus</a></li>
        <li><a href="#">Vivamus nec nisi ac arcu tristiquee</a></li>
        <li>Pellentesque sodales tempus massa</li>
        <li>Lorem ipsum dolor sit amet, consectetur</li>
        <li>Maecenas non elit at tortor auctor</li>
        <li class="last"><a href="#">Fusce ullamcorper pharetra tellus</a></li>
      </ul>
    </div>
    <div class="footbox">
      <h2>Indonectetus facilis leo nibh</h2>
      <ul>
        <li><a href="#">Lorem ipsum dolor sit amet, consectetur</a></li>
        <li><a href="#">Maecenas non elit at tortor auctor</a></li>
        <li><a href="#">Fusce ullamcorper pharetra tellus nec</a></li>
        <li><a href="#">Quisque congue pharetra leo, in congue</a></li>
        <li><a href="#">Nullam aliquet velit non tellus</a></li>
        <li>Vivamus nec nisi ac arcu tristiquee</li>
        <li>Pellentesque sodales tempus massa</li>
        <li>Lorem ipsum dolor sit amet, consectetur</li>
        <li><a href="#">Maecenas non elit at tortor auctor</a></li>
        <li class="last"><a href="#">Fusce ullamcorper pharetra tellus</a></li>
      </ul>
    </div>
    <div class="footbox last">
      <h2>Indonectetus facilis leo nibh</h2>
      <img src="{{ url_for('static', filename='images/demo/300x250.gif')}}" alt="" /></div>
    <div id="copyright">
      <p class="fl_left">Copyright &copy; 221 - All Rights Reserved - <a href="https://hopetvafrica.com">Hope Tv Africa</a></p>
      <!--<p class="fl_right">Template by <a target="_blank" href="https://www.os-templates.com/" title="Free Website Templates">OS Templates</a></p>-->
      <div class="clear"></div>
    </div>