 <ul>
        <!--<li><a href="#"><img src="{{ url_for('static', filename='images/bookmarks/rss.jpg')}}" width="25" height="25" alt="RSS" /></a></li>-->
        <li><a href="https://www.facebook.com/Hopetvafrica"><img src="{{ url_for('static', filename='images/bookmarks/facebook_plain_logo_icon_146525.png')}}" width="25" height="25" alt="Add to: Facebook" /></a></li>
       <!-- <li><a href="#"><img src="{{ url_for('static', filename='images/bookmarks/delicious.jpg')}}" width="25" height="25" alt="Del.icio.us" /></a></li>
        <li><a href="#"><img src="{{ url_for('static', filename='images/bookmarks/stumbleupon.jpg')}}" width="25" height="25" alt="Stumbleupon" /></a></li>
        <li><a href="#"><img src="{{ url_for('static', filename='images/bookmarks/reddit.jpg')}}" width="25" height="25" alt="reddit" /></a></li>
        <li><a href="#"><img src="{{ url_for('static', filename='images/bookmarks/digg.jpg')}}" width="25" height="25" alt="Digg" /></a></li>
        <li><a href="#"><img src="{{ url_for('static', filename='images/bookmarks/yahoo.jpg')}}" width="25" height="25" alt="Y! MyWeb" /></a></li>
        <li class="last"><a href="#"><img src="{{ url_for('static', filename='images/bookmarks/google.jpg')}}" width="25" height="25" alt="Google" /></a></li>-->
 </ul>