<ul>
      <li><a class="active" href="index.html">Home</a></li>
      <!--<li><a href="pages/templates.html">Templates</a>
        <ul>
          <li><a href="pages/2-columns.html">2 Col Right</a></li>
          <li><a href="pages/2-columns-left.html">2 Col Left</a></li>
          <li><a href="pages/full-width.html">Full Width</a></li>
        </ul>
      </li>-->
      <li><a href="#">About</a>
        <!--<ul>
          <li><a href="#">Drop Link 1</a></li>
          <li><a href="#">Drop Link 2</a></li>
          <li><a href="#">Drop Link 3</a></li>
        </ul>-->
      </li>
      <!--<li><a href="#">Contact</a></li>-->
      <li><a href="#">Videos</a>
       <!-- <ul>
          <li><a href="#">Drop Link 1</a></li>
          <li><a href="#">Drop Link 2</a></li>
          <li><a href="#">Drop Link 3</a></li>
        </ul>-->
      </li>
    <!--  <li><a href="#">Blog</a></li>
      <li><a href="#">Demo Link</a>
        <ul>
          <li><a href="#">Drop Link 1</a></li>
          <li><a href="#">Drop Link 2</a></li>
          <li><a href="#">Drop Link 3</a></li>
        </ul>
      </li>-->
    </ul>